/*table*/
.sl-table-wrapper{
	
}
.sl-table{
	width: 100%;
	font-size: 13px;
	color: #4A4A4A;
}
.sl-table th, .sl-table td{
	text-align: center;
	/*max-width: 100px;
    min-width: 50px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 5px;
    box-sizing: border-box;	
    font-weight: normal;
}
.sl-table th{
	padding: 14px 5px;
}
.sl-table__header{
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	background: #f5f5f5;
}
.sl-table__row{
	border-bottom: 1px solid #d6d6d6;
}
.cell a:not(:last-of-type){
	margin-right: 12px;
}
.a--success:link{
	color: #07a656;
}
.a--success:hover{
	color: #07a656;
	text-decoration: underline;
}
.a--success:active{
	color: #07a656;
}
.a--success:visited{
	color: #07a656;
}
.a--danger:link{
	color: #e93617;
}
.a--danger:hover{
	color: #e93617;
	text-decoration: underline;
}
.a--danger:active{
	color: #e93617;
}
.a--danger:visited{
	color: #e93617
}
.a--edit:link{
	color: #434bff;
}
.a--edit:hover{
	color: #434bff;
	text-decoration: underline;
}
.a--edit:active{
	color: #434bff;
}
.a--edit:visited{
	color: #434bff
}
.a--check:link{
	color: #3c3c3c;
}
.a--check:hover{
	color: #3c3c3c;
	text-decoration: underline;
}
.a--check:active{
	color: #3c3c3c;
}
.a--check:visited{
	color: #3c3c3c
}
.a--primary:link{
	color: #c49771;
}
.a--primary:hover{
	color: #c49771;
	text-decoration: underline;
}
.a--primary:active{
	color: #c49771;
}
.a--primary:visited{
	color: #c49771
}
.sl-query-wrapper{
	padding: 10px 0 10px 26px;
	background: #f8f1ea;
	color: #4A4A4A;
}
.sl-query__label{
	margin-bottom: 15px;
	font-weight: bold;
}
.sl-query{
	float: left;
	margin-right: 20px;
}
.block{
	padding: 0;
}
.sui-form{
	margin: 0;
}
.sui-btn.btn-primary {
    color: #ffffff;
    background-color: #c49771;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #c49771;
}
.sui-btn.btn-primary:hover, .sui-btn.btn-primary:focus {
    color: #ffffff;
    background-color: #c49771;
    border: 1px solid #c49771;
}
.sui-form select:focus, .sui-form textarea:focus, .sui-form input[type="text"]:focus, .sui-form input[type="password"]:focus, .sui-form input[type="datetime"]:focus, .sui-form input[type="datetime-local"]:focus, .sui-form input[type="date"]:focus, .sui-form input[type="month"]:focus, .sui-form input[type="time"]:focus, .sui-form input[type="week"]:focus, .sui-form input[type="number"]:focus, .sui-form input[type="email"]:focus, .sui-form input[type="url"]:focus, .sui-form input[type="search"]:focus, .sui-form input[type="tel"]:focus, .sui-form input[type="color"]:focus, .sui-form .uneditable-input:focus {
    border-color: #c49771;
    outline: 0;
    outline: thin dotted \9;
}
.sui-dropdown-menu > li > a:hover, .sui-dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    text-decoration: none;
    color: #ffffff;
    background-color: #c49771;
}
.sui-dropdown-menu > .active a, .sui-dropdown-menu > .active a:hover, .sui-dropdown-menu > .active a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #c49771;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    color: #ffffff;
    background-color: #c49771;
    border-color: #c49771;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.sl-pagination{
	text-align: center;
	font-size: 13px;
	margin-top: 20px;
}
.sl-pagination__control{
	display: inline-block;
	margin-bottom: 10px;
}
.slpc__page-nums{
	font-size: 0;
	margin-right: 10px;
}
.slpc__page-nums>div{
    display: inline-block;
    font-size: 13px;
    border: 1px solid #e0e9ee;
    margin-left: -1px;
    box-sizing: border-box;
    line-height: 30px;
    width: 30px;
	height: 30px;
	background: #f9f9f9;
	cursor: pointer;
}
.sl-page-num.is-active{
	background: #C49771;
	color: #fff;
}
.first, .prev, .next, .last{
	color: #c49771;
}
.slpc__page-nums>div.first, .slpc__page-nums>div.last{
	width: 38px;
}
.first{
	border-radius: 15px 0 0 15px;
}
.last{
	border-radius: 0 15px 15px 0;
}

.sl-page-num{
	
	
}
.sl-pagination__text{
	color: #8c8c8c;
	padding-bottom: 10px;
}
.select--sm.sui-dropdown.dropdown-bordered .dropdown-inner a{
    min-width: 40px;
    width: 40px;
}
.select--sm.sui-dropdown.dropdown-bordered .dropdown-inner a[role=menuitem]{
	width: 100%;
}
.select--sm.sui-dropdown.dropdown-bordered .dropdown-inner{
    line-height: 24px;
    border-radius: 15px;

}
.select--xsm.sui-dropdown.dropdown-bordered .dropdown-inner a{
    min-width: 40px;
    width: 40px;
}
.select--xsm.sui-dropdown.dropdown-bordered .dropdown-inner a[role=menuitem]{
	width: 100%;
}
.select--xsm.sui-dropdown.dropdown-bordered .dropdown-inner{
    line-height: 24px;

}
.prs__select.sl-container .sl-options .sl-selected {
    background: #c49771;
    color: #fff;
}
.sl-left-half{
	float: left;
    box-sizing: border-box;
    width: 50%;
    padding-right: 30px;
    position: relative;
}
.sl-left-half:after{
    content: '';
    height: 600px;
    border-right: 1px solid #d8d8d8;
    position: absolute;
    right: 0px;
    top: -12px;
}
.sl-right-half{
	float: right;
    box-sizing: border-box;
    width: 50%;
    padding-left: 30px;
    padding-right: 34px;
}
.sui-form.form-horizontal .control-group.mb1{
	margin-bottom: 30px;
}
.sui-form.form-horizontal .control-label {
    padding-right: 18px;
}
.sui-form.form-horizontal .control-label.sl-label-special{
	padding-right: 11px;
    font-size: 13px;
}
.top-radius{
	line-height: 18px;
    min-width: 90px;
    border-radius: 5px 5px 0 0;
}
.row__left-label{
	margin-left: 27px;
    margin-top: 4px;
}
.sui-form.form-horizontal .controls.controls--special {
	font-size: 13px;
}
.sl-checkbox-group{
	background: #faf8f6;
    height: 100px;
    padding: 10px 18px;
    overflow-y: auto;
}
.checkbox-pretty.inline-block, .radio-pretty.inline-block {
    display: inline-block;
    width: 79px;
    margin-bottom: 12px;
}
.sui-form.form-horizontal.label-left-align .control-label {
    text-align: left;
}
.sl-channel-wrapper{
	background: #FAF8F6;
	
}
.tab-pane{
	font-size: 13px;
}
.sl-channel-title{
	background: #ede4dd;
	text-align: center;
	line-height: 30px;
}
.sl-channel-params{
	padding: 13px 46px 0 22px;
}
.sl-params{
	margin-bottom: 24px;
}
.set-param{
	margin-bottom: 15px;
}
.sl-param{
	margin-bottom: 12px;
	position: relative;
}
.param__key{
	width: 27%;
    padding-right: 6px;
    box-sizing: border-box;
}
.sui-form input[type="text"].input-medium.input-key{
	width: 100%;
    box-sizing: border-box;
    height: 34px;
}
.sui-form input[type="text"].input-xlarge.input-value{
	width: 100%;
    box-sizing: border-box;
    height: 34px;
}
.param__value{
	width: 73%;
    padding-left: 6px;
    box-sizing: border-box;
}
.sl-icon-trash{
	content: '';
	position: absolute;
	right: -27px;
    top: 9px;
	width: 16px;
	height: 17px;
	cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/icon_trash.png);
}
.channel__btn-center{
	text-align: center;
	padding-bottom: 22px;
}
.sui-btn.btn-bordered.btn-primary {
    border: 1px solid #c49771;
    color: #c49771;
    min-width: 60px;
    line-height: 26px;
    height: 26px;
    font-size: 13px;
    padding: 0;
    background: transparent;
}
.sui-btn.btn-bordered.btn-primary:hover, .sui-btn.btn-bordered.btn-primary:focus {
    border: 1px solid #c49771;
    color: white;
    background-color: #c49771;
}
.sl-option{
	width: 58px;
	height: 30px;
	cursor: pointer;
}
.sui-tag > li.tag-selected, .sui-tag > a.tag-selected {
    color: #ffffff;
    background: #c49771;
    border-color: #c49771;
}
.sui-tag > li:hover, .sui-tag > a:hover {
    color: #c49771;
}
.sui-tag > li.tag-selected:hover, .sui-tag > a.tag-selected:hover {
    background: #c49771;
    border-color: #c49771;
    color: #ffffff;
}
.sui-tag > li, .sui-tag > a {
	width: 40px;
    box-sizing: border-box;
    height: 22px;
    text-align: center;
}
.sl-btns-wrapper{
	text-align: center;
	padding-bottom: 30px;
}
.sl-btns{
	width: 276px;
	display: inline-block;
}
.btn-borderadius{
	border-radius: 17px;
}
.sl-btn--md{
	min-width: 90px;
    line-height: 22px;
}
.sui-btn{
	background-color: #9b9b9b;
	border: 1px solid #9b9b9b;
}
.sui-btn:hover, .sui-btn:focus {
    color: #fff;
    background-color: #9b9b9b;
    border: 1px solid #9b9b9b;
}
.sui-nav.nav-tabs > .active > a, .sui-nav.nav-tabs > li > a:hover {
    color: #c49771;
}
.checkbox-pretty:hover span:before, .radio-pretty:hover span:before {
    color: #c49771;
}
.checkbox-pretty.checked > span:before, .radio-pretty.checked > span:before {
    color: #c49771;
}
.sui-nav.nav-tabs > li > a.selected{
	border: 1px solid red;
}
.sui-modal .modal-header {
    padding: 10px 10px;
    background: #ede4dd;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}
.sui-modal .modal-body{
	background: #fff;
	font-size: 14px;
}
.sui-modal{
	background-color: transparent;
}
.sl-category__left, .sl-transfer__left, .sl-transfer__right{
	width: 200px;
}
.sl-category__right{
	margin-left: 46px;
}
.sl-list-block{
	border: 1px solid #a7a7a7;
	/*padding: 0 10px;*/
	margin-top: 12px;
	font-size: 12px;
	height: 320px;
	overflow-y: auto;
	
}
.sl-list__item{
	line-height: 24px;
	padding-left: 10px
}
.sl-list__item.is-active{
	background: #dcc1aa;
}
.cl-title__text{
	font-weight: bold;
}
.cl-title{
	margin-bottom: 13px;
}
.sl-icon--add{
	width: 16px;
    height: 16px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/icon_add.png);
}
.sl-transfer__btns{
    width: 46px;
    height: 399px;
    position: relative;
}
.slt-btns{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);	
	text-align: center;
    width: 100%;
}
.sl-icon--arrow{
	color: #c49771;
    font-size: 20px;
    cursor: pointer;
}
.sui-modal .modal-footer{
	padding-top: 22px;
}
.sl-add-text{
	color: #c49771;
    font-size: 15px;
    margin: 10px 32px 0 0;
    cursor: pointer;
}
