/*table*/
.sl-table-wrapper{
	
}
.sl-table{
	width: 100%;
	font-size: 13px;
	color: #4A4A4A;
}
.sl-table th, .sl-table td{
	text-align: center;
	/*max-width: 100px;
    min-width: 50px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 5px;
    box-sizing: border-box;	
    font-weight: normal;
}
.sl-table th{
	padding: 14px 5px;
}
.sl-table__header{
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	background: #f5f5f5;
}
.sl-table__row{
	border-bottom: 1px solid #d6d6d6;
}
.cell a:not(:last-of-type){
	margin-right: 12px;
}
.a--success:link{
	color: #07a656;
}
.a--success:hover{
	color: #07a656;
	text-decoration: underline;
}
.a--success:active{
	color: #07a656;
}
.a--success:visited{
	color: #07a656;
}
.a--danger:link{
	color: #e93617;
}
.a--danger:hover{
	color: #e93617;
	text-decoration: underline;
}
.a--danger:active{
	color: #e93617;
}
.a--danger:visited{
	color: #e93617
}
.a--edit:link{
	color: #434bff;
}
.a--edit:hover{
	color: #434bff;
	text-decoration: underline;
}
.a--edit:active{
	color: #434bff;
}
.a--edit:visited{
	color: #434bff
}
.a--check:link{
	color: #3c3c3c;
}
.a--check:hover{
	color: #3c3c3c;
	text-decoration: underline;
}
.a--check:active{
	color: #3c3c3c;
}
.a--check:visited{
	color: #3c3c3c
}
.sl-query-wrapper{
	padding: 10px 0 10px 26px;
	background: #f8f1ea;
	color: #4A4A4A;
}
.sl-query__label{
	margin-bottom: 15px;
	font-weight: bold;
}
.sl-query{
	float: left;
	margin-right: 20px;
}
.block{
	padding: 0;
}
.sui-form{
	margin: 0;
}
.btn-primary {
    color: #ffffff;
    background-color: #c49771;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #c49771;
}
.btn-primary:hover, .btn-primary:focus {
    color: #ffffff;
    background-color: #c49771;
    border: 1px solid #c49771;
}
.sui-form select:focus, .sui-form textarea:focus, .sui-form input[type="text"]:focus, .sui-form input[type="password"]:focus, .sui-form input[type="datetime"]:focus, .sui-form input[type="datetime-local"]:focus, .sui-form input[type="date"]:focus, .sui-form input[type="month"]:focus, .sui-form input[type="time"]:focus, .sui-form input[type="week"]:focus, .sui-form input[type="number"]:focus, .sui-form input[type="email"]:focus, .sui-form input[type="url"]:focus, .sui-form input[type="search"]:focus, .sui-form input[type="tel"]:focus, .sui-form input[type="color"]:focus, .sui-form .uneditable-input:focus {
    border-color: #c49771;
    outline: 0;
    outline: thin dotted \9;
}
.sui-dropdown-menu > li > a:hover, .sui-dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    text-decoration: none;
    color: #ffffff;
    background-color: #c49771;
}
.sui-dropdown-menu > .active a, .sui-dropdown-menu > .active a:hover, .sui-dropdown-menu > .active a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #c49771;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    color: #ffffff;
    background-color: #c49771;
    border-color: #c49771;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.sl-pagination{
	text-align: center;
	font-size: 13px;
	margin-top: 20px;
}
.sl-pagination__control{
	display: inline-block;
	margin-bottom: 10px;
}
.slpc__page-nums{
	font-size: 0;
	margin-right: 10px;
}
.slpc__page-nums>div{
    display: inline-block;
    font-size: 13px;
    border: 1px solid #e0e9ee;
    margin-left: -1px;
    box-sizing: border-box;
    line-height: 30px;
    width: 30px;
	height: 30px;
	background: #f9f9f9;
	cursor: pointer;
}
.sl-page-num.is-active{
	background: #C49771;
	color: #fff;
}
.first, .prev, .next, .last{
	color: #c49771;
}
.slpc__page-nums>div.first, .slpc__page-nums>div.last{
	width: 38px;
}
.first{
	border-radius: 15px 0 0 15px;
}
.last{
	border-radius: 0 15px 15px 0;
}

.sl-page-num{
	
	
}
.sl-pagination__text{
	color: #8c8c8c;
	padding-bottom: 10px;
}
.select--sm.sui-dropdown.dropdown-bordered .dropdown-inner a{
    min-width: 40px;
    width: 40px;
}
.select--sm.sui-dropdown.dropdown-bordered .dropdown-inner a[role=menuitem]{
	width: 100%;
}
.select--sm.sui-dropdown.dropdown-bordered .dropdown-inner{
    line-height: 24px;
    border-radius: 15px;

}
.prs__select.sl-container .sl-options .sl-selected {
    background: #c49771;
    color: #fff;
}
